<gf-header [viewportMobile]="viewportMobile" [navbarItems]="navbarItems"></gf-header>
<div class="app-content" [class.bottom-space]="!viewportMobile">
  <router-outlet></router-outlet>
</div>
<gf-footer [viewportMobile]="viewportMobile"></gf-footer>
