@import 'main';

:host {
  display: block;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.app-content {
  min-height: calc(100vh - 190px);
}

.bottom-space {
  padding-bottom: 30px;
}
