$website: (
    black--light: #23232e,
    black--mid: #141418,
    blue: #3f51b5,
    blue--light: #66c6d4,
    blue--dark: #073b57,
    cyan: #1678b1,
    grey: #595d6e,
    green: #74c19f,
    green--low: #79ab86,
    yellow: #ede32b,
    main--bg: #f4f4f6,
    moonlight: #2c5364,
    moonlight--dark: #1a4c68,
    orange: #f0ab1f,
    orange--dark: #ea5c0d,
    pink: #d4245d,
    purple: #971d81,
    red: #ff4726,
    ruby: #e12650,
    text-color: #302e3b,
    white: #fff,
) !default;

$states: (
    default: map-get($website, text-color),
    disabled: rgba(#b1b1b1, 0.7),
    error: #ff4726,
    action: #3f51b5,
    success: #00bb8e,
    warning: #f0ab1f,
) !default;
