@import "main";

.split-screen {
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
    height: 100%;

    &__image-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 1rem;
        width: 50%;
    }

    &__image-content {
        border-radius: 1rem;
        height: 95%;
        padding: 0.1rem;
        position: relative;
    }

    &__image {
        align-items: center;
        background-image: url("/assets/images/home_bg.jpg");
        background-position: center;
        background-size: cover;
        border-radius: 1rem;
        height: 100%;
        width: 100%;
    }

    &__image-home {
        font-size: 2rem;
        position: absolute;
        text-decoration: none;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 50%;
        text-align: center;
    }

    &__pages {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
    }
}

.mouse-over {
    opacity: 0.3;
}
