<div class="split-screen">
  <div class="split-screen__image-container">
    <div class="split-screen__image-content border-white">
      <a href="/" (mouseenter)="mouseOverToggle()" (mouseleave)="mouseOverToggle()">
        <div *ngIf="isMouseOver" class="split-screen__image-home text-white text-italic">
          <fa-icon class="home-page__icon" [icon]="faHome"></fa-icon>
          <ng-container *transloco="let t">
            {{ t(homeMsg) }}
          </ng-container>
        </div>
        <div class="split-screen__image" [class.mouse-over]="isMouseOver"></div>
      </a>
    </div>
  </div>
  <div class="split-screen__pages">
    <ng-content select="[page]"></ng-content>
  </div>
</div>
