<ng-container *transloco="let t">
  <div class="sidenav-container">
    <mat-sidenav-container class="sidenav-container__container">
      <mat-sidenav #appSideNav [mode]="viewportMobile ? 'over' : 'side'" [opened]="!viewportMobile">
        <gf-sidenav
          [viewportMobile]="viewportMobile"
          [appSideNav]="appSideNav"
          [sidenavContainer]="sidenavContainer"
          (logoutEmitter)="onLogout($event)"
        ></gf-sidenav>
      </mat-sidenav>
      <mat-sidenav-content class="sidenav-container__content">
        <mat-toolbar color="primary" class="main-toolbar">
          <mat-toolbar-row>
            <button mat-icon-button (click)="appSideNav.toggle()" *ngIf="viewportMobile">
              <mat-icon>menu</mat-icon>
            </button>
            <a class="text-white" [routerLink]="[sidenavContainer.contentTitleLink]" class="app-brand">
              {{ t(sidenavContainer.contentTitleLabel) }}
            </a>
          </mat-toolbar-row>
        </mat-toolbar>
        <main class="main-content-inner">
          <section class="content-area">
            <ng-content select="[content]"></ng-content>
          </section>
        </main>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</ng-container>
