@import "main";

.sidenav-container {
    height: 100%;

    &__container {
        height: 100%;

        a {
            text-decoration: none;
        }

        a:visited {
            color: map-get($website, white);
        }
    }

    &__content {
        display: flex;
        flex-direction: column;

        .main-toolbar {
            flex: 0 0 auto;
            z-index: 999;
        }

        .main-content-inner {
            flex: 1 1 auto;
            position: relative; /* need this to position inner content */
            overflow-y: auto;

            .content-area {
                padding: 15px 30px;
            }
        }
    }
}

mat-sidenav {
    width: 350px;
}
