<ng-container *transloco="let t">
  <div class="home-presentation">
    <div class="home-presentation__message text-white">
      <p>
        {{ t('home.presentation.welcome') }}
        <span class="text-bold">{{ t('home.presentation.name') }}</span
        >:
        <span class="text-bold text-italic">
          {{ t('home.presentation.roles.engineer') }}
        </span>
        {{ t('home.presentation.and') }}
        <span class="text-bold text-italic">
          {{ t('home.presentation.roles.fullstack') }}</span
        >.
      </p>
    </div>
    <div class="home-presentation__social">
      <div class="home-presentation__social-link">
        <a
          class="text-white"
          href="https://www.linkedin.com/in/giorgiofederici/"
          title="Contact me on LinkedIn!"
          target="_blank"
        >
          <fa-icon [icon]="faLinkedin" size="2x"></fa-icon>
        </a>
      </div>
      <div class="home-presentation__social-link">
        <a
          class="text-white"
          href="https://twitter.com/TheMonkey86/"
          title="Follow me on Twitter!"
          target="_blank"
        >
          <fa-icon [icon]="faTwitter" size="2x"></fa-icon>
        </a>
      </div>
      <div class="home-presentation__social-link">
        <a
          class="text-white"
          href="https://github.com/giorgiofederici/"
          title="Follow me on GitHub!"
          target="_blank"
        >
          <fa-icon [icon]="faGithub" size="2x"></fa-icon>
        </a>
      </div>
      <div class="home-presentation__social-link">
        <a
          class="text-white"
          href="https://www.instagram.com/thecatandtheengineer/"
          title="Follow me on Instagram!"
          target="_blank"
        >
          <fa-icon [icon]="faInstagram" size="2x"></fa-icon>
        </a>
      </div>
    </div>
  </div>
</ng-container>
