@import "main";

.home-presentation {
    display: flex;
    flex-direction: column;
    padding: 1.2rem;

    &__social {
        display: flex;
        flex-direction: row;
        margin-top: 1rem;

        &-link:not(:last-child) {
            margin-right: 1rem;
        }
    }
}
