<ng-container *transloco="let t" page>
  <!-- PROGRESS BAR --->
  <section *ngIf="loading$ | async">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </section>
  <!-- ERROR MESSAGE --->
  <section *ngIf="error$ | async as errorMsg">
    <gf-message-box [type]="messageBoxTypes.ERROR" [message]="errorMsg"></gf-message-box>
  </section>
  <div class="signup-page">
    <gf-signup (signupEmitter)="onSignup($event)" (loginEmitter)="onLogin()"></gf-signup>
  </div>
</ng-container>
