<ng-container *transloco="let t">
  <mat-card class="login">
    <mat-card-header>
      <mat-card-title class="text-white">
        {{ t('authLogin.title') }}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <gf-login-form (submitCredentialsEmitter)="onSubmit($event)" (signupEmitter)="onSignup()"></gf-login-form>
    </mat-card-content>
  </mat-card>
</ng-container>
