<header class="header">
  <mat-toolbar>
    <span class="spacer"></span>
    <gf-navbar
      [viewportMobile]="viewportMobile"
      [navbarItems]="navbarItems"
    ></gf-navbar>
  </mat-toolbar>
</header>
