@import 'main';

//input outline color
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: map-get($website, white);
  // opacity: 1!important;
}

//mat-input focused color
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: map-get($website, white);
}

// mat-input carent color
::ng-deep .mat-input-element {
  caret-color: map-get($website, white);
}

// mat-input error carent color
::ng-deep .mat-form-field-invalid .mat-input-element,
.mat-warn .mat-input-element {
  caret-color: map-get($website, white);
}

// mat-label normal state style
::ng-deep .mat-form-field-label {
  color: map-get($website, white);
  // color: $mainColor!important;
}

// mat-label focused style
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: map-get($website, white);
}

// mat-label error style
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: map-get($website, white);
}
