<ng-container *transloco="let t">
  <form novalidate [formGroup]="credentialsFormGroup" (submit)="onSubmit(credentialsFormGroup.value)">
    <!-- EMAIL -->
    <mat-form-field appearance="outline" class="input-width-100 test" color="primary">
      <mat-label>{{ t('authLogin.fields.email') }}</mat-label>
      <input matInput class="text-white" formControlName="email" required />
      <mat-error
        *ngIf="
          credentialsFormGroup.controls['email'].invalid && credentialsFormGroup.controls['email'].hasError('required')
        "
      >
        {{ t('authLogin.validators.emailRequired') }}
      </mat-error>
      <mat-error
        *ngIf="
          credentialsFormGroup.controls['email'].invalid && credentialsFormGroup.controls['email'].hasError('email')
        "
      >
        {{ t('authLogin.validators.emailInvalid') }}
      </mat-error>
    </mat-form-field>
    <!-- PASSWORD -->
    <mat-form-field appearance="outline" class="input-width-100" color="primary">
      <mat-label>{{ t('authLogin.fields.password') }}</mat-label>
      <input matInput class="text-white" formControlName="password" type="password" required />
      <mat-error
        *ngIf="
          credentialsFormGroup.controls['password'].invalid &&
          credentialsFormGroup.controls['password'].hasError('required')
        "
      >
        {{ t('authLogin.validators.passwordRequired') }}
      </mat-error>
      <mat-error
        *ngIf="
          credentialsFormGroup.controls['password'].invalid &&
          credentialsFormGroup.controls['password'].hasError('minlength')
        "
      >
        {{ t('authLogin.validators.passwordInvalid') }}
      </mat-error>
    </mat-form-field>

    <section class="input-width-100">
      <button
        mat-icon-button
        class="text-white text-bold"
        color="primary"
        (click)="onSignup()"
        title="{{ t('authLogin.signupSwitch.title') }}"
        type="button"
      >
        {{ t('authLogin.signupSwitch.message') }}
      </button>
    </section>

    <section class="input-width-100 give-me-some-space top margin-25">
      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="credentialsFormGroup.invalid"
        title="{{ t('authLogin.buttons.titles.login') }}"
      >
        {{ t('authLogin.buttons.labels.login') }}
      </button>
    </section>
  </form>
</ng-container>
