<ng-container *transloco="let t">
  <form novalidate [formGroup]="skillFormGroup" (submit)="onSubmit(skillFormGroup.value)">
    <!-- NAME -->
    <mat-form-field appearance="outline" class="input-width-100" color="primary">
      <mat-label>{{ t(skillFormTranslation.name) }}</mat-label>
      <input matInput formControlName="name" required />
      <mat-error *ngIf="skillFormGroup.controls['name'].invalid">
        {{ t(skillFormTranslation.nameRequired) }}
      </mat-error>
    </mat-form-field>
    <!-- TYPE -->
    <mat-form-field appearance="outline" class="input-width-100" color="primary">
      <mat-label>{{ t(skillFormTranslation.type) }}</mat-label>
      <input matInput formControlName="type" required />
      <mat-error *ngIf="skillFormGroup.controls['type'].invalid">
        {{ t(skillFormTranslation.typeRequired) }}
      </mat-error>
    </mat-form-field>
    <!-- EXPERIENCE -->
    <mat-form-field appearance="outline" class="input-width-25 give-me-some-space right margin-25" color="primary">
      <mat-label>{{ t(skillFormTranslation.experience) }}</mat-label>
      <input matInput formControlName="experience" type="number" min="0" />
    </mat-form-field>
    <!-- IMPORTANCE -->
    <mat-form-field appearance="outline" class="input-width-25 give-me-some-space right margin-25" color="primary">
      <mat-label>{{ t(skillFormTranslation.importance) }}</mat-label>
      <input matInput formControlName="importance" type="number" min="0" />
    </mat-form-field>

    <section class="input-width-100 give-me-some-space top margin-25">
      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="skillFormGroup.invalid"
        title="{{ t(skillFormTranslation.submitBtnTitle) }}"
      >
        {{ t(skillFormTranslation.submitBtnLabel) }}
      </button>
    </section>
  </form>
</ng-container>
