<ng-container *transloco="let t">
  <div class="cv-page">
    <div class="cv-page__left bg-moonlight">
      <gf-cv-info [skills]="skills$ | async"></gf-cv-info>
    </div>
    <!-- RIGHT -->
    <div class="cv-page__right bg-moonlight-dark text-white">
      <gf-cv-timeline></gf-cv-timeline>
    </div>
  </div>
</ng-container>
