<ng-container *transloco="let t">
  <mat-card class="edit-skill">
    <mat-card-header>
      <mat-card-title>
        {{ t('skillEditing.title') }}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <gf-skill-form
        [skill]="skill"
        [skillFormTranslation]="skillFormTranslation"
        (submitSkillEmitter)="onSubmit($event)"
      ></gf-skill-form>
    </mat-card-content>
  </mat-card>
</ng-container>
