.new-line {
    width: 100%;
}

.input-width-25 {
    width: 20%;
}

.input-width-50 {
    width: 50%;
}

.input-width-75 {
    width: 75%;
}

.input-width-100 {
    width: 100%;
}

.give-me-some-space {
    &.bottom {
        &.margin-10 {
            margin-bottom: 10px;
        }
        &.margin-25 {
            margin-bottom: 25px;
        }
    }

    &.right {
        &.margin-10 {
            margin-right: 10px;
        }
        &.margin-25 {
            margin-right: 25px;
        }
    }

    &.top {
        &.margin-10 {
            margin-top: 10px;
        }
        &.margin-25 {
            margin-top: 25px;
        }
    }
}
