<ng-container *transloco="let t">
  <mat-card class="create-skill">
    <mat-card-header>
      <mat-card-title>
        {{ t('skillCreation.title') }}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <gf-skill-form
        [skillFormTranslation]="skillFormTranslation"
        (submitSkillEmitter)="onSubmit($event)"
      ></gf-skill-form>
    </mat-card-content>
  </mat-card>
</ng-container>
