<main class="app-content">
  <!-- LOGGED IN -->
  <gf-sidenav-container
    *ngIf="isLoggedIn"
    [viewportMobile]="viewportMobile"
    [sidenavContainer]="sidenavContainer"
    (logoutEmitter)="onLogout($event)"
    ><router-outlet content></router-outlet
  ></gf-sidenav-container>
  <!-- NOT LOGGED IN -->
  <gf-split-screen *ngIf="!isLoggedIn" [homeMsg]="'homeMsg'">
    <router-outlet page></router-outlet>
  </gf-split-screen>
</main>
