@import "main";

:host {
  display: block;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-content {
  bottom: 0;
  flex: 1 0 auto;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100vw;
}
