<div class="navbar">
  <ng-container *ngIf="!viewportMobile; else hamburger">
    <gf-navbar-item
      *ngFor="let navbarItem of navbarItems"
      [viewportMobile]="viewportMobile"
      [navbarItem]="navbarItem"
    ></gf-navbar-item>
  </ng-container>
  <ng-template #hamburger>
    <gf-hamburger
      [viewportMobile]="viewportMobile"
      [navbarItems]="navbarItems"
    ></gf-hamburger>
  </ng-template>
</div>
