<ng-container *transloco="let t">
  <!-- PROGRESS BAR --->
  <section *ngIf="loading$ | async">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </section>
  <!-- ERROR MESSAGE --->
  <section *ngIf="error$ | async as createErrorMsg">
    <gf-message-box [type]="messageBoxTypes.ERROR" [message]="createErrorMsg"></gf-message-box>
  </section>
  <gf-create-skill
    [skillFormTranslation]="skillFormTranslation"
    (createSkillEmitter)="onCreateSkill($event)"
  ></gf-create-skill>
</ng-container>
