<ng-container *transloco="let t">
  <form novalidate [formGroup]="userFormGroup" (submit)="onSubmit(userFormGroup.value)">
    <!-- EMAIL -->
    <mat-form-field appearance="outline" class="input-width-100" color="primary">
      <mat-label>{{ t('authSignup.fields.email') }}</mat-label>
      <input matInput formControlName="email" class="text-white" required />
      <mat-error
        *ngIf="userFormGroup.controls['email'].invalid && userFormGroup.controls['email'].hasError('required')"
      >
        {{ t('authSignup.validators.emailRequired') }}
      </mat-error>
      <mat-error *ngIf="userFormGroup.controls['email'].invalid && userFormGroup.controls['email'].hasError('email')">
        {{ t('authSignup.validators.emailInvalid') }}
      </mat-error>
    </mat-form-field>
    <!-- PASSWORD -->
    <mat-form-field appearance="outline" class="input-width-100" color="primary">
      <mat-label>{{ t('authSignup.fields.password') }}</mat-label>
      <input matInput formControlName="password" type="password" class="text-white" required />
      <mat-error
        *ngIf="userFormGroup.controls['password'].invalid && userFormGroup.controls['password'].hasError('required')"
      >
        {{ t('authSignup.validators.passwordRequired') }}
      </mat-error>
      <mat-error
        *ngIf="userFormGroup.controls['password'].invalid && userFormGroup.controls['password'].hasError('minlength')"
      >
        {{ t('authSignup.validators.passwordInvalid') }}
      </mat-error>
    </mat-form-field>
    <!-- PASSWORD CONFIRM -->
    <mat-form-field appearance="outline" class="input-width-100" color="primary">
      <mat-label>{{ t('authSignup.fields.passwordConfirm') }}</mat-label>
      <input matInput formControlName="passwordConfirm" type="password" class="text-white" required />
      <mat-error
        *ngIf="
          userFormGroup.controls['passwordConfirm'].invalid &&
          userFormGroup.controls['passwordConfirm'].hasError('required')
        "
      >
        {{ t('authSignup.validators.passwordConfirmRequired') }}
      </mat-error>
      <mat-error
        *ngIf="
          userFormGroup.controls['passwordConfirm'].invalid &&
          userFormGroup.controls['passwordConfirm'].hasError('minlength')
        "
      >
        {{ t('authSignup.validators.passwordConfirmInvalid') }}
      </mat-error>
      <mat-error *ngIf="passwordNotMatching && userFormGroup.hasError('passwordNoMatch')">
        {{ t('authSignup.validators.passwordsNotMatching') }}
      </mat-error>
    </mat-form-field>

    <!-- FIRST NAME -->
    <mat-form-field appearance="outline" class="input-width-100" color="primary">
      <mat-label>{{ t('authSignup.fields.firstName') }}</mat-label>
      <input matInput formControlName="firstName" class="text-white" />
    </mat-form-field>

    <!-- LAST NAME -->
    <mat-form-field appearance="outline" class="input-width-100" color="primary">
      <mat-label>{{ t('authSignup.fields.lastName') }}</mat-label>
      <input matInput formControlName="lastName" class="text-white" />
    </mat-form-field>

    <section class="input-width-100">
      <button
        mat-icon-button
        class="text-white text-bold"
        color="primary"
        (click)="onLogin()"
        title="{{ t('authSignup.loginSwitch.title') }}"
        type="button"
      >
        {{ t('authSignup.loginSwitch.message') }}
      </button>
    </section>

    <section class="input-width-100 give-me-some-space top margin-25">
      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="userFormGroup.invalid"
        title="{{ btnTranslations.title }}"
      >
        {{ btnTranslations.label }}
      </button>
    </section>
  </form>
</ng-container>
