// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Define custom topography - START

/* Fonts */
@font-face {
    font-family: raleway;
    src: url("assets/fonts/Raleway-VariableFont_wght.ttf");
}

@font-face {
    font-family: raleway;
    src: url("assets/fonts/Raleway-Italic-VariableFont_wght.ttf");
    font-style: italic;
}

$custom-typography: mat-typography-config(
    $font-family: "raleway, monospace",
);

// Define custom topography - END

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core($custom-typography);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$website-primary: mat-palette($mat-indigo);
$website-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$website-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$website-theme: mat-light-theme(
    (
        color: (
            primary: $website-primary,
            accent: $website-accent,
            warn: $website-warn,
        ),
    )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($website-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    overflow-y: auto;
}
body {
    margin: 0;
}

/* Background */
.bg-warm {
    background-color: #fc9842;
    background: -webkit-linear-gradient(315deg, #fc9842 0%, #fe5f75 74%) no-repeat center center fixed;
    background: -o-linear-gradient(315deg, #fc9842 0%, #fe5f75 74%) no-repeat center center fixed;
    background: -moz-linear-gradient(315deg, #fc9842 0%, #fe5f75 74%) no-repeat center center fixed;
    background: linear-gradient(315deg, #fc9842 0%, #fe5f75 74%) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
