<ng-container *transloco="let t">
  <footer class="footer text-white">
    <div class="container">
      <a href="/">
        <span>{{ t('footer.text') }}</span>
      </a>
    </div>
  </footer>
</ng-container>
