<ng-container *transloco="let t">
  <mat-card class="view-skill">
    <mat-card-header>
      <mat-card-title>
        {{ t('skillViewing.title') }}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <section mat-dialog-content>
        <mat-tab-group (selectedTabChange)="onSelectedTabChange($event)" #tabs>
          <mat-tab label="{{ t('skillViewing.details') }}">
            <div class="tab-content">
              <mat-list>
                <!-- NAME -->
                <mat-list-item>
                  <mat-icon matListIcon>terrain</mat-icon>
                  <h3 matLine>{{ skill?.name }}</h3>
                  <p matLine>
                    <span class="text-caption">{{ t('skillViewing.name') }}</span>
                  </p>
                </mat-list-item>
                <!-- TYPE -->
                <mat-list-item>
                  <mat-icon matListIcon>terrain</mat-icon>
                  <h3 matLine>{{ skill?.type }}</h3>
                  <p matLine>
                    <span class="text-caption">{{ t('skillViewing.type') }}</span>
                  </p>
                </mat-list-item>
                <!-- EXPERIENCE -->
                <mat-list-item>
                  <mat-icon matListIcon>description</mat-icon>
                  <h3 matLine>{{ skill?.experience }}</h3>
                  <p matLine>
                    <span class="text-caption">{{ t('skillViewing.experience') }}</span>
                  </p>
                </mat-list-item>
                <!-- IMPORTANCE -->
                <mat-list-item>
                  <mat-icon matListIcon>description</mat-icon>
                  <h3 matLine>{{ skill?.importance }}</h3>
                  <p matLine>
                    <span class="text-caption">{{ t('skillViewing.importance') }}</span>
                  </p>
                </mat-list-item>
              </mat-list>
            </div>
          </mat-tab>
        </mat-tab-group>
      </section>
    </mat-card-content>
  </mat-card>
</ng-container>
