@import 'main';

.fill-space {
  flex: 1 1 auto;
}

.text-caption {
  font-size: 14px;
  font-weight: lighter;
}

mat-list-item {
  a {
    padding-left: 0;
  }
}

.tab-content {
  height: 600px;
  width: 600px;
}
