<ng-container *transloco="let t">
  <!-- PROGRESS BAR --->
  <section *ngIf="loading$ | async">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </section>
  <!-- ERROR MESSAGE --->
  <section *ngIf="error$ | async as editErrorMsg">
    <gf-message-box [type]="messageBoxTypes.ERROR" [message]="editErrorMsg"></gf-message-box>
  </section>
  <gf-edit-skill
    [skill]="skill$ | async"
    [skillFormTranslation]="skillFormTranslation"
    (editSkillEmitter)="onEditSkill($event)"
  ></gf-edit-skill>
</ng-container>
