@import "main";

.message-box {
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}

.error {
    background-color: map-get($states, error);
    color: map-get($website, white);
}

.success {
    background-color: map-get($states, success);
    color: map-get($website, white);
}
