<div
  class="message-box"
  [ngClass]="{
    error: type === messageTypes.ERROR,
    info: type === messageTypes.INFO,
    success: type === messageTypes.SUCCESS,
    warning: type === messageTypes.WARNING
  }"
>
  <ng-container [ngSwitch]="type">
    <!-- ERROR -->
    <ng-container *ngSwitchCase="messageTypes.ERROR">
      {{ message }}
    </ng-container>
    <!-- INFO -->
    <ng-container *ngSwitchCase="messageTypes.INFO">
      {{ message }}
    </ng-container>
    <!-- SUCCESS -->
    <ng-container *ngSwitchCase="messageTypes.SUCCESS">
      {{ message }}
    </ng-container>
    <!-- WARNING -->
    <ng-container *ngSwitchCase="messageTypes.WARNING">
      {{ message }}
    </ng-container>
  </ng-container>
</div>
