<ng-container *transloco="let t">
  <div class="hamburger">
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      attr.aria-label="{{ t('header.ariaLabels.hamburger') }}"
    >
      <fa-icon class="text-white" [icon]="faHamburger"></fa-icon>
    </button>
    <mat-menu #menu="matMenu">
      <gf-navbar-item
        *ngFor="let navbarItem of navbarItems"
        [viewportMobile]="viewportMobile"
        [navbarItem]="navbarItem"
      ></gf-navbar-item>
    </mat-menu>
  </div>
</ng-container>
