<ng-container *transloco="let t" page>
  <div class="text-white text-center text-bold">
    <h2>
      {{ t('home.message') }}
      <fa-icon class="home-page__icon text-white" [icon]="faRocket"></fa-icon>
    </h2>
    <button
      class="home-page__btn"
      type="button"
      mat-raised-button
      color="primary"
      title="{{ t('home.titleBtn') }}"
      (click)="onClick()"
    >
      {{ t('home.labelBtn') }}
    </button>
  </div>
</ng-container>
