<div class="skills-page">
  <ng-container *transloco="let t">
    <!-- SUCCESS MESSAGE --->
    <section *ngIf="success$ | async as successMsg">
      <gf-message-box [type]="messageBoxTypes.SUCCESS" [message]="successMsg"></gf-message-box>
    </section>
    <!-- DELETE ERROR MESSAGE --->
    <section *ngIf="error$ | async as errorMsg">
      <gf-message-box [type]="messageBoxTypes.ERROR" [message]="errorMsg"></gf-message-box>
    </section>

    <gf-skill-list
      [skills]="skills$ | async"
      (createSkill)="onCreateSkill()"
      (viewSkill)="onViewSkill($event)"
      (editSkill)="onEditSkill($event)"
      (deleteSkill)="onDeleteSkill($event)"
      *ngIf="!(loading$ | async)"
    ></gf-skill-list>

    <!-- indeterminate progress bar --->
    <section *ngIf="loading$ | async">
      <h1>{{ t('skillListing.loadingMsg') }}</h1>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </section>
  </ng-container>
</div>
