@import 'main';

:host {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.cv-page {
  &__right {
    &-box {
      display: flex;
      flex-direction: column;
      padding-bottom: 0.5rem;
      padding-top: 1rem;
    }

    &-box:not(:first-child) {
      margin-top: 0.5rem;
    }

    &-box-row {
      display: flex;
      flex-direction: column;
      margin-top: 0.5rem;
      padding: 1rem;

      &-badges {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }
    }
  }
}
