<ng-container *transloco="let t">
  <!-- EXPERIENCES -->
  <div class="cv-page__right-box bg-blue-dark text-center">
    <div class="">
      <span class="bg-white badge badge-pill text-ruby">
        <fa-icon
          class="icon-cv-fix"
          [icon]="faBriefcase"
          size="2x"
          attr.aria-label="{{ t('cv.right.ariaLabels.briefcase') }}"
        ></fa-icon>
      </span>
    </div>
    <h2>
      {{ t('cv.right.experiences') }}
    </h2>
  </div>
  <!-- WORK EXPERIENCE -->
  <div class="cv-page__right-box-row border-dark-blue">
    <h2>{{ t('cv.right.fullstackDeveloper') }} / {{ t('cv.right.itTrainer') }}</h2>
    <div class="text-09">
      {{ t('cv.right.freelance') }} - {{ t('cv.right.rome') }} <span class="small">({{ t('cv.right.remote') }})</span> -
      {{ t('cv.right.italy') }}
    </div>
    <div class="small">{{ t('cv.right.dates.freelance') }} - {{ t('cv.right.present') }}</div>
    <div class="cv-page__right-box-row-badges">
      <span class="badge-tech">Angular2+</span>
      <span class="badge-tech">HTML</span>
      <span class="badge-tech">CSS</span>
      <span class="badge-tech">JavaScript</span>
      <span class="badge-tech">TypeScript</span>
      <span class="badge-tech">Ionic</span>
      <span class="badge-tech">NodeJS</span>
      <span class="badge-tech">NestJS</span>
      <span class="badge-tech">Express</span>
      <span class="badge-tech">MongoDB</span>
      <span class="badge-tech">Nrwl Monorepo</span>
      <span class="badge-tech">Sass</span>
      <span class="badge-tech">Bootstrap 4</span>
      <span class="badge-tech">VS Code</span>
      <span class="badge-tech">Java</span>
    </div>
  </div>
  <!-- WORK EXPERIENCE -->
  <div class="cv-page__right-box-row border-dark-blue">
    <h2>
      {{ t('cv.right.frontendDeveloper') }}
    </h2>
    <div class="text-09">Vix Technology - {{ t('cv.right.rome') }} - {{ t('cv.right.italy') }}</div>
    <div class="small">{{ t('cv.right.dates.vix') }}</div>
    <div class="cv-page__right-box-row-badges">
      <span class="badge-tech">Angular2+</span>
      <span class="badge-tech">Ionic</span>
      <span class="badge-tech">HTML</span>
      <span class="badge-tech">CSS</span>
      <span class="badge-tech">JavaScript</span>
      <span class="badge-tech">TypeScript</span>
      <span class="badge-tech">NodeJS</span>
      <span class="badge-tech">Express</span>
      <span class="badge-tech">VS Code</span>
    </div>
  </div>
  <!-- WORK EXPERIENCE -->
  <div class="cv-page__right-box-row border-dark-blue">
    <h2>
      {{ t('cv.right.fullstackDeveloper') }}
    </h2>
    <div class="text-09">
      Geometry Global Intelligence - {{ t('cv.right.rome') }} <span class="small">({{ t('cv.right.remote') }})</span> -
      {{ t('cv.right.italy') }}
    </div>
    <div class="small">{{ t('cv.right.dates.geometry') }}</div>
    <div class="cv-page__right-box-row-badges">
      <span class="badge-tech">AngularJS</span>
      <span class="badge-tech">Angular2+</span>
      <span class="badge-tech">HTML</span>
      <span class="badge-tech">CSS</span>
      <span class="badge-tech">JavaScript</span>
      <span class="badge-tech">TypeScript</span>
      <span class="badge-tech">NodeJS</span>
      <span class="badge-tech">Express</span>
      <span class="badge-tech">MongoDB</span>
      <span class="badge-tech">AWS</span>
      <span class="badge-tech">VS Code</span>
    </div>
  </div>
  <!-- WORK EXPERIENCE -->
  <div class="cv-page__right-box-row border-dark-blue">
    <h2>
      {{ t('cv.right.softwareDeveloper') }}
    </h2>
    <div class="text-09">SAP - Galway - {{ t('cv.right.republicOfIreland') }}</div>
    <div class="small">{{ t('cv.right.dates.sap') }}</div>
    <div class="cv-page__right-box-row-badges">
      <span class="badge-tech">SAP ByDesign</span>
      <span class="badge-tech">SAP C4C</span>
      <span class="badge-tech">SAP Hana Cloud</span>
      <span class="badge-tech">Java SE</span>
    </div>
  </div>
  <!-- WORK EXPERIENCE -->
  <div class="cv-page__right-box-row border-dark-blue">
    <h2>
      {{ t('cv.right.solutionDeveloper') }}
    </h2>
    <div class="text-09">
      Engineering Spa - {{ t('cv.right.turin') }} -
      {{ t('cv.right.italy') }}
    </div>
    <div class="small">{{ t('cv.right.dates.engineering') }}</div>
    <div class="cv-page__right-box-row-badges">
      <span class="badge-tech">Java SE</span>
      <span class="badge-tech">Java EE</span>
      <span class="badge-tech">HTML</span>
      <span class="badge-tech">CSS</span>
      <span class="badge-tech">JavaScript</span>
      <span class="badge-tech">ExtJS</span>
      <span class="badge-tech">Apache</span>
      <span class="badge-tech">Hibernate</span>
      <span class="badge-tech">Azure</span>
      <span class="badge-tech">Chef</span>
      <span class="badge-tech">Maven</span>
    </div>
  </div>
  <!-- WORK EXPERIENCE -->
  <div class="cv-page__right-box-row border-dark-blue">
    <h2>{{ t('cv.right.webApplicationDeveloper') }} Jr.</h2>
    <div class="text-09">Sogetel - {{ t('cv.right.rome') }} - {{ t('cv.right.italy') }}</div>
    <div class="small">{{ t('cv.right.dates.sogetel') }}</div>
    <div class="cv-page__right-box-row-badges">
      <span class="badge-tech">Java SE</span>
      <span class="badge-tech">Java EE</span>
      <span class="badge-tech">HTML</span>
      <span class="badge-tech">CSS</span>
      <span class="badge-tech">JavaScript</span>
      <span class="badge-tech">Richfaces</span>
      <span class="badge-tech">SEAM</span>
      <span class="badge-tech">Hibernate</span>
      <span class="badge-tech">JBoss</span>
      <span class="badge-tech">Hibernate Search</span>
      <span class="badge-tech">Lucene Query</span>
    </div>
  </div>
  <!-- EDUCATION -->
  <div class="cv-page__right-box bg-blue-dark text-center">
    <div class="">
      <span class="bg-white badge badge-pill text-ruby">
        <fa-icon
          class="icon-cv-fix"
          [icon]="faUniversity"
          size="2x"
          attr.aria-label="{{ t('cv.right.ariaLabels.university') }}"
        ></fa-icon>
      </span>
    </div>
    <h2>
      {{ t('cv.right.education') }}
    </h2>
  </div>
  <!-- EDUCATION -->
  <div class="cv-page__right-box-row border-dark-blue">
    <h2>
      {{ t('cv.right.computerScienceEngineering') }}
    </h2>
    <h3>
      {{ t('cv.right.architecturesAndDistributedSystems') }}
    </h3>
    <div class="text-09">
      {{ t('cv.right.masterDegree') }}
    </div>
    <div class="text-09">
      {{ t('cv.right.sapienza') }} - {{ t('cv.right.rome') }} -
      {{ t('cv.right.italy') }}
    </div>
    <div class="small">2009 - 2013</div>
  </div>
  <!-- EDUCATION -->
  <div class="cv-page__right-box-row border-dark-blue">
    <h2>
      {{ t('cv.right.computerScienceEngineering') }}
    </h2>
    <div class="text-09">
      {{ t('cv.right.bachelorDegree') }}
    </div>
    <div class="text-09">
      {{ t('cv.right.sapienza') }} - {{ t('cv.right.rome') }} -
      {{ t('cv.right.italy') }}
    </div>
    <div class="small">2004 - 2009</div>
  </div>
</ng-container>
