.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
}

.badge-pill {
    padding: 0.7rem;
    border-radius: 10rem;
}

.badge-tech {
    background-color: map-get($website, green--low);
    border-radius: 15px;
    color: map-get($website, white);
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    margin-top: 0.3rem;
    padding: 0.5rem;
}
