<ng-container *transloco="let t">
  <div class="cv-page__left-title text-white text-center">
    <h3>{{ t('cv.left.name') }}</h3>
  </div>
  <div class="cv-page__left-profile bg-moonlight-dark border-cyan">
    <img class="img-thumbnail" src="assets/images/giorgiofederici.png" attr.alt="{{ t('cv.left.profileImgAlt') }}" />
  </div>
  <div class="cv-page__left-info text-white">
    <p>
      {{ t('cv.left.city') }}: <strong>{{ t('cv.left.rome') }}</strong>
    </p>
    <p>
      {{ t('cv.left.country') }}: <strong>{{ t('cv.left.italy') }}</strong>
    </p>
    <p>
      {{ t('cv.left.nationality') }}:
      <strong>{{ t('cv.left.italianF') }}</strong>
    </p>
    <p>
      {{ t('cv.left.birthdate') }}:
      <strong>{{ t('cv.left.birthdateValue') }}</strong>
    </p>
    <hr class="border-cyan" />
    <div class="cv-page__left-info-subtitle bg-moonlight-dark">
      <h3>{{ t('cv.left.languages') }}</h3>
    </div>
    <p>
      <strong>{{ t('cv.left.italianM') }}</strong>
      ({{ t('cv.left.nativeProficiency') }})
    </p>
    <p>
      <strong>{{ t('cv.left.english') }}</strong> ({{ t('cv.left.professionalWorkingProficiency') }})
    </p>
    <hr class="border-cyan" />
    <div class="cv-page__left-info-subtitle bg-moonlight-dark">
      <h3>{{ t('cv.left.profiles') }}</h3>
    </div>
    <div class="cv-page__left-info-social">
      <div class="cv-page__left-info-social-link">
        <a
          class="text-white"
          href="https://www.linkedin.com/in/giorgiofederici/"
          title="{{ t('cv.left.titles.linkedin') }}"
          target="_blank"
        >
          <fa-icon [icon]="faLinkedin" size="2x"></fa-icon>
        </a>
      </div>
      <div class="cv-page__left-info-social-link">
        <a
          class="text-white"
          href="https://twitter.com/TheMonkey86/"
          title="{{ t('cv.left.titles.twitter') }}"
          target="_blank"
        >
          <fa-icon [icon]="faTwitter" size="2x"></fa-icon>
        </a>
      </div>
      <div class="cv-page__left-info-social-link">
        <a
          class="text-white"
          href="https://github.com/giorgiofederici/"
          title="{{ t('cv.left.titles.github') }}"
          target="_blank"
        >
          <fa-icon [icon]="faGithub" size="2x"></fa-icon>
        </a>
      </div>
      <div class="cv-page__left-info-social-link">
        <a
          class="text-white"
          href="https://www.instagram.com/thecatandtheengineer/"
          title="{{ t('cv.left.titles.instagram') }}"
          target="_blank"
        >
          <fa-icon [icon]="faInstagram" size="2x"></fa-icon>
        </a>
      </div>
    </div>
    <hr class="border-cyan" />
    <div class="cv-page__left-info-subtitle bg-moonlight-dark">
      <h3>{{ t('cv.left.skills') }}</h3>
    </div>
    <!-- Skills -->
    <div class="cv-page__left-skill" *ngFor="let skill of skills">
      <div class="cv-page__left-skill-name">
        <strong>{{ skill.name }}</strong>
      </div>
      <div class="cv-page__left-skill-rating">
        <span *ngFor="let el of getFilledStars(skill.experience)">
          &#9733;
        </span>
        <span *ngFor="let el of getNotFilledStars(skill.experience)">&#9734; </span>
      </div>
    </div>
  </div>
</ng-container>
