@import 'main';

:host {
  display: flex;
  flex-direction: column;
}

.cv-page {
  &__left {
    &-title {
      padding-bottom: 1rem;
      padding-top: 1rem;
    }

    &-profile {
      align-self: center;
      padding: 0.25rem;
      width: 40%;
    }

    &-info {
      padding: 2rem;
    }

    &-info-subtitle {
      margin-bottom: 0.75rem;
      margin-top: 0.75rem;
      padding-left: 1rem;
    }

    &-info-social {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }

    &-skill {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &-name {
      }

      &-rating {
      }
    }
  }
}
