@import "main";

.skills-list {
  &__title {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &-icon-create {
      margin-right: 10px;
      transform: scale(1.5);
    }
  }

  &__table {
    &-actions {
      display: flex;
    }
    &-actions-upload {
      display: flex;
    }
  }
}

.cancel {
  color: map-get($states, error);
}

.confirm {
  color: map-get($states, success);
}
