<mat-card class="skills-list">
  <ng-container *transloco="let t">
    <mat-card-header>
      <div class="skills-list__title">
        <h1>{{ t('skillListing.title') }}</h1>
        <button
          mat-icon-button
          color="primary"
          (click)="onCreateSkill()"
          title="{{ t('skillListing.btnTitles.create') }}"
        >
          <mat-icon
            class="skills-list__title-icon-create"
            aria-hidden="false"
            attr.aria-label="{{ t('skillListing.ariaLabels.create') }}"
          >
            add_circle
          </mat-icon>
        </button>
      </div>
    </mat-card-header>
  </ng-container>
  <mat-card-content>
    <ng-container *transloco="let t">
      <!-- Form Container for our filter form group for the user to filter the trekking routes list -->
      <form novalidate [formGroup]="filterTableFormGroup">
        <mat-form-field appearance="outline" class="full-width-input">
          <mat-label>{{ t('skillListing.search.label') }}</mat-label>
          <span matPrefix><mat-icon attr.aria-label="{{ t('skillListing.ariaLabels.search') }}">search</mat-icon></span>
          <input matInput formControlName="filter" placeholder="{{ t('skillListing.search.placeholder') }}" />
        </mat-form-field>
      </form>

      <!-- mat tabe container. assign our data source, add sorting, assign the tracking function -->
      <mat-table [dataSource]="skillsDataSource" matSort [trackBy]="trackByFn" class="skills-list__table">
        <!-- define our table columns. you must have a column for every column defined in your columns string array -->
        <!-- the matColumnDef value needs to be the value of a column you defined -->
        <!-- the order of the columns is determined by the order specified in the columns() value -->

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ t('skillListing.columns.name') }}
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row?.name }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ t('skillListing.columns.type') }}
          </mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row?.type }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="experience">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ t('skillListing.columns.experience') }}
          </mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row?.experience }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="importance">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ t('skillListing.columns.importance') }}
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row?.importance }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ t('skillListing.columns.actions') }}
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <div class="skills-list__table-actions">
              <ng-container *ngIf="selectedId !== row.id || !deleteToggled; else deleteConfirmation">
                <button
                  mat-icon-button
                  color="primary"
                  (click)="onViewSkill(row)"
                  title="{{ t('skillListing.btnTitles.view') }}"
                >
                  <mat-icon aria-hidden="false" attr.aria-label="{{ t('skillListing.ariaLabels.view') }}"
                    >info</mat-icon
                  >
                </button>
                <button
                  mat-icon-button
                  color="primary"
                  (click)="onEditSkill(row)"
                  title="{{ t('skillListing.btnTitles.edit') }}"
                >
                  <mat-icon aria-hidden="false" attr.aria-label="{{ t('skillListing.ariaLabels.edit') }}"
                    >edit</mat-icon
                  >
                </button>
                <button
                  mat-icon-button
                  color="accent"
                  (click)="deleteToggle(row?.id)"
                  title="{{ t('skillListing.btnTitles.delete') }}"
                >
                  <mat-icon aria-hidden="false" attr.aria-label="{{ t('skillListing.ariaLabels.delete') }}"
                    >delete</mat-icon
                  >
                </button>
              </ng-container>
              <ng-template #deleteConfirmation>
                {{ t('skillListing.deleteConfirmation') }}
                <button
                  mat-icon-button
                  class="confirm"
                  (click)="onDeleteSkill(row)"
                  title="{{ t('skillListing.btnTitles.deleteYes') }}"
                >
                  <mat-icon aria-hidden="false" attr.aria-label="{{ t('skillListing.ariaLabels.deleteYes') }}"
                    >check</mat-icon
                  >
                </button>
                <button
                  mat-icon-button
                  class="cancel"
                  (click)="deleteToggle(null)"
                  title="{{ t('skillListing.btnTitles.deleteNo') }}"
                >
                  <mat-icon aria-hidden="false" attr.aria-label="{{ t('skillListing.ariaLabels.deleteNo') }}"
                    >close</mat-icon
                  >
                </button>
              </ng-template>
            </div>
          </mat-cell>
        </ng-container>

        <!-- define the header row for the given columns -->
        <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
        <!-- define the rows and columns for each row in the data source -->
        <mat-row *matRowDef="let row; columns: columns"></mat-row>
      </mat-table>
    </ng-container>
    <!-- add table pagination - KEEP HERE, NOT IN TRANSLOCO NG-CONTAINER OR THE PAGINATOR WON'T WORK -->
    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10]" [showFirstLastButtons]="true">
    </mat-paginator>
  </mat-card-content>
</mat-card>
