<ng-container *transloco="let t">
  <!-- PROGRESS BAR 
  <section *ngIf="loading$ | async">
    <mat-progress-bar mode="buffer"></mat-progress-bar>
  </section>
  --->
  <!-- ERROR MESSAGE --->
  <section *ngIf="error$ | async as viewErrorMsg">
    <gf-message-box [type]="messageBoxTypes.ERROR" [message]="viewErrorMsg"></gf-message-box>
  </section>
  <gf-view-skill [skill]="skill$ | async" [loading]="loading$ | async"></gf-view-skill>
</ng-container>
