<ng-container *transloco="let t">
  <div class="navbar-item">
    <!-- VIEWPORT MOBILE ITEM -->
    <div class="navbar-item__menu-item">
      <a
        *ngIf="viewportMobile"
        mat-menu-item
        title="{{ t(navbarItem.titleTranslationKey) }}"
        [routerLink]="[navbarItem.link]"
      >
        <span>{{ t(navbarItem.labelTranslationKey) }}</span>
      </a>
    </div>

    <!-- VIEWPORT WEB ITEM -->
    <div class="navbar-item__link">
      <a
        *ngIf="!viewportMobile"
        mat-button
        class="text-white"
        [routerLink]="[navbarItem.link]"
        title="{{ t(navbarItem.titleTranslationKey) }}"
      >
        {{ t(navbarItem.labelTranslationKey) }}
      </a>
    </div>
  </div>
</ng-container>
