<mat-toolbar color="primary" class="main-toolbar">
  <mat-toolbar-row>
    <button mat-icon-button (click)="appSideNav.toggle()" *ngIf="viewportMobile">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 routerLink="/" class="app-brand">
      Dashboard
    </h1>
  </mat-toolbar-row>
</mat-toolbar>
<main class="main-content-inner">
  <section class="content-area">
    <ng-content select="[content]"></ng-content>
  </section>
</main>
