<ng-container *transloco="let t">
  <mat-card class="signup">
    <mat-card-header>
      <mat-card-title class="text-white">
        {{ t('authSignup.title') }}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <gf-user-form (submitUserEmitter)="onSubmit($event)" (loginEmitter)="onLogin()"></gf-user-form>
    </mat-card-content>
  </mat-card>
</ng-container>
