<ng-container *transloco="let t">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <h1>{{ t(sidenavContainer.menuLabel) }}</h1>
      <span class="fill-space"></span>
      <button mat-icon-button *ngIf="viewportMobile" (click)="appSideNav.close()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-nav-list>
    <mat-list-item *ngFor="let item of sidenavContainer?.sidenavItems" [routerLink]="[item.link]">
      <div class="list-item__content">
        <fa-icon class="list-item__content-icon" [icon]="item.icon"></fa-icon>
        <a matLine class="list-item__content-link">{{ t(item.label) }}</a>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <div class="list-item__content" (click)="onLogout()">
        <fa-icon class="list-item__content-icon" [icon]="sidenavContainer.sidenavLogoutItem?.icon"></fa-icon>
        <a matLine class="list-item__content-link">{{ t(sidenavContainer.sidenavLogoutItem?.label) }}</a>
      </div>
    </mat-list-item>
  </mat-nav-list>
</ng-container>
