.bg-moonlight {
    background: map-get($website, moonlight);
}

.bg-moonlight-dark {
    background: map-get($website, moonlight--dark);
}

.bg-blue-dark {
    background: map-get($website, blue--dark);
}

.bg-white {
    background: map-get($website, white);
}
