.border-white {
    border: 1px solid map-get($website, white);
}

.border-cyan {
    border: 1px solid map-get($website, cyan);
}

.border-right-cyan {
    border-left: 1px solid map-get($website, cyan);
}

.border-left-cyan {
    border-right: 1px solid map-get($website, cyan);
}

.border-dark-blue {
    border: 1px solid map-get($website, blue--dark);
}
